$clr--white: hsl(0, 0%, 100%);
$clr--black: hsl(0, 0%, 0%);
$clr--dk-font: hsl(220, 13%, 13%);
$clr--lt-font: hsl(219, 9%, 45%);
$clr--dk-orange: hsl(26, 100%, 55%);
$clr--hover-orange: #ffab6a;
$clr--lt-orange: hsl(25, 100%, 94%);
$clr--pale-font: hsl(220, 14%, 75%);
$clr--lt-gray: hsl(223, 64%, 98%);
$clr--lt-box: hsl(219, 35, 92);
